@import 'tailwindcss';

@theme {
  --color-primary: hsla(203, 98%, 19%, 1);
  --color-gray: hsl(203, 13%, 48%);
  --color-green: hsla(134, 70%, 51%, 1);
  --color-green-darker: hsl(134, 83%, 39%);
  --color-modal-backdrop: hsla(178, 13%, 97%, 1);

  --shadow-form-shadow: 0px 20px 50px 0px hsla(108, 13%, 92%, 1);
  --shadow-dropdown: 0px 4px 9px 0px hsla(0, 0%, 0%, 0.06);

  --radius-3: 3px;
  --radius-5: 5px;
}

lk {
  color: hsl(134, 83%, 39%);
}
