@import 'tailwindcss';

@theme {
  --color-primary: hsla(203, 98%, 19%, 1);
  --color-gray: hsl(203, 13%, 48%);
  --color-green: hsla(134, 70%, 51%, 1);
  --color-green-light: hsla(158, 34%, 86%, 1);
  --color-green-darker: hsl(134, 83%, 39%);
  --color-red: hsla(353, 100%, 49%, 1);
  --color-modal-backdrop: hsla(178, 13%, 97%, 1);

  --shadow-form-shadow: 0px 20px 50px 0px hsla(108, 13%, 92%, 1);
  --shadow-dropdown: 0px 4px 9px 0px hsla(0, 0%, 0%, 0.06);
  --shadow-green: 0px 15px 30px 0px hsla(134, 70%, 51%, 0.3);

  --radius-3: 3px;
  --radius-5: 5px;

  --animate-fade-in: fade-in 0.5s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
